<!DOCTYPE html>
<html>

<head>
  <title>Поиск общих друзей в контакте</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
  <script src="https://vk.com/js/api/xd_connection.js?2"></script>
  <!-- <script>var VK = {api:{},init:() => {}};</script> -->
</head>

<body id="body">
  <div class="wrapper" id="app">

    <section class="header">
      <!-- <button @click="consolIt()">this</button> -->
      <input
        type="text"
        class='field'
        placeholder="Адрес страницы или ID человека"
        autofocus
        @focus="$event.target.select()"
        v-on:keyup.13="fetchOwners()"
        v-model="input"
        v-bind:class="{ loading:loading }" />
      <p class="error" v-bind:class="{ error_hidden: !errorText }">{{errorText}}</p>
      <div v-if="loading" class="loader"></div>
      <div class="suggest">
        <h1 class="suggest__header">Friends</h1>
        <div class="suggest__item">
          <div class="suggest__item-photo"></div>
          <div class="suggest__item-name">Георг</div>
        </div>
        <div class="suggest__item">
          <div class="suggest__item-photo"></div>
          <div class="suggest__item-name">Андрей</div>
        </div>
        <div class="suggest__item">
          <div class="suggest__item-photo"></div>
          <div class="suggest__item-name">Миша</div>
        </div>
        <div class="suggest__item">
          <div class="suggest__item-photo"></div>
          <div class="suggest__item-name"></div>
        </div>
        <div class="suggest__item">
          <div class="suggest__item-photo"></div>
          <div class="suggest__item-name"></div>
        </div>
      </div>
    </section>


    <section class='owners'>
      <div class='owner' v-bind:class="{ loading: owner.loading }" v-for="owner in ownersList">
        <div class='owner__photo' v-bind:style='{backgroundImage: "url(" + owner.photo_100 + ")"}'></div>
        <div class='owner__name'>
          <a v-bind:href="'https://vk.com/id' + owner.id" target="_blank" v-bind:title="owner.friends.length + ' друзей'">
            {{owner.first_name}} {{owner.last_name}}
          </a>
        </div>
        <div class='owner__delete' title="Удалить" @click="removeOwner(owner.id)"></div>
      </div>
    </section>

    <section class='friends'>
      <h1 class='friends__header'>Общие друзья</h1>

      <p class="help" v-if="!ownersList.length">
        Добавьте как минимум двух человек, чтобы я нашёл их общих друзей
      </p>
      <p class="help" v-if="ownersList.length && ownersList.length<2">
        Отлично! Добавьте ещё одного
      </p>
      <p class="help" v-if="!commonFriends.length && ownersList.length>1 && !loading">
        Нет общих друзей
      </p>

      <div class='friend' v-for="friend in commonFriends">
        <div class='friend__photo' v-bind:style='{backgroundImage: "url(" + friend.photo_100 + ")"}'>
          <div class='friend__add' title="Добавить к поиску" @click="fetchOwners(friend.id)"></div>
        </div>
        <div class='friend__name'>
          <a v-bind:href="'https://vk.com/id' + friend.id" target="_blank">
            {{friend.first_name}} {{friend.last_name}}
          </a>
        </div>
        <div class='friend__city' v-if='friend.city'>{{friend.city.title}}</div>
        <div class='friend__owners'>
          <div v-for="owner in friend.owners" class='friend__owner-photo' v-bind:style='{backgroundImage: "url(" + owner.photo_100 + ")"}' v-bind:title='owner.first_name + " " + owner.last_name'>
          </div>
        </div>
      </div>
    </section>
  </div>


  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    (function(d, w, c) {
      (w[c] = w[c] || []).push(function() {
        try {
          w.yaCounter45439689 = new Ya.Metrika({
            id: 45439689,
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true,
            webvisor: true
          });
        } catch (e) {}
      });

      var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function() {
          n.parentNode.insertBefore(s, n);
        };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/watch.js";

      if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
      } else {
        f();
      }
    })(document, window, "yandex_metrika_callbacks");
  </script>
  <noscript><div><img src="https://mc.yandex.ru/watch/45439689" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->




  <!-- SCRIPTS -->
  <script src="VM.js"></script>
</body>

</html>
